body {
    background-color: #05384c;
    width: 700px;
    margin: auto;
}
header {
    background-color: teal;
    padding: 20px;
    text-align: center;
    font-size: 50px;
}
footer{
    background-color: teal;
    padding: 10px;
    text-align: center;
    font-size: 50px;
}
nav{
    background-color: #1c6b6b;
    padding: 20px;
    text-align: center;
}
a{
    color: white;
}
main{
    background-color: white;
    padding: 20px;
    text-align: center;
}
img{
    width: 20%;
}
img.timbuktu{
    width: 40%
}
div{
    padding: 20px;
    background-color: gray;
    margin-bottom: 20px;
    text-align: right;
}
div.gallery{
    text-align: center;
}
